.game {
    display: flex;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 40px 30px;
    position: relative;
    overflow: visible;
    background: rgb(2,42,75);
    background: linear-gradient(335deg, rgba(2,42,75,0.4) 24%, rgba(67,217,173,0.29735644257703087) 100%);
}

.background-image {
    position: absolute;
    top: -30%; /* Move a imagem para cima, fazendo-a vazar um pouco para fora */
    left: -30%; /* Move a imagem para a esquerda, fazendo-a vazar um pouco para fora */
    width: 160%; /* Aumenta o tamanho da imagem para que ela vaze para fora */
    height: 160%;
    z-index: -1;
    pointer-events: none;
}

.game .instructions {
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 250px;
    height: 200px;
    background: rgb(85,85,85);
    background: linear-gradient(335deg, rgba(85,85,85,0.4514180672268907) 100%, rgba(85,85,85,0.3337710084033614) 100%);
}

.game .instructions .instruction-text{
    color: #e1e1e1;
}

.game .text {
    padding-left: 15px;
    padding-bottom: 30px;
}

.game .up-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game .arrows3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
