.visible {
    display: flex;
    border-top: 1px solid #607b96;
    border-bottom: 1px solid #607b96;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: fadeIn 0.3s;
    padding: 0;
}

.visible .name {
    margin: 0;
    border-right: 1px solid #607b96;
    padding: 15px;
}

.visible .navi {
    margin: 0;
    border-right: 1px solid #607b96;
    padding: 15px;
    position: relative;
    transition: color 0.3s;
}

.visible .navi:last-child {
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #607b96;
}

.visible h4:hover {
    color: #e1e1e1;
}

.visible .navi::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fea55f;
    transition: 0.3s;

}

.visible .navi:hover::before {
    width: 100%;
}

.hidden {
    animation: fadeOut 0.3s;
    pointer-events: none;
    transform: translateY(-100%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}