.cabecalho .navi,
.cabecalho .navi {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cabecalho {
    border: 1px solid #607b96;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}

.navi {
    display: flex;
    margin: 0;
    border-right: 1px solid #607b96;
}

.itens {
    margin: 0;
    border-right: 1px solid #607b96;
    padding: 15px;
    position: relative;
    transition: color 0.3s;
}

.itens:last-child {
    margin-left: auto;
    border-left: 1px solid #607b96;
}

.itens::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fea55f;
    transition: 0.3s;
}

.itens:hover {
    color: #e1e1e1;
}

.itens:hover::after {
    width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;  
}