footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.visible-footer {
    display: flex;
    border-top: 1px solid #607b96;
    border-bottom: 1px solid #607b96;
    flex-wrap: wrap;
}

.visible-footer h4 {
    margin: 0; 
    border-right: 1px solid #607b96;
    padding: 15px;
}

.visible-footer .contatolw {
    margin: 0; 
    border-right: 1px solid #607b96;
    padding: 17px;
}

.visible-footer h4:last-child {
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #607b96;
}

.visible-footer :hover {
    color: #e1e1e1;
}


.hidden-footer {
    display: none; /* Hide the footer */
    border-top: 1px solid #607b96;
    border-bottom: 1px solid #607b96;
    flex-wrap: wrap;
    pointer-events: none;
    transform: translateY(-100%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
