footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.rodape .visible-footer {
    padding: 0;
    margin: 0;
    display: flex;
    border: 1px solid #607b96;
    flex-wrap: wrap;
    list-style: none;
    
}

.rodape .itens {
    margin: 0;
    border-right: 1px solid #607b96;
}

.rodape .contatol {
    margin: 0;
}

.rodape .contatow {
    margin: 0;
}

.rodape .itens:last-child {
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #607b96;
}

.rodape .itens:hover {
    color: #e1e1e1;
}

.rodape .hidden-footer {
    display: none;
    /* Hide the footer */
    border-top: 1px solid #607b96;
    border-bottom: 1px solid #607b96;
    flex-wrap: wrap;
    pointer-events: none;
    transform: translateY(-100%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}