@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #011627;
  margin: 0;
  font-family:'Fira Code', monospace;
  color: #607b96;
}

