@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #011627;
  font-family:'Fira Code', monospace;
  color: #607b96;
  border-left: 1px solid #607b96;
  border-right: 1px solid #607b96;
}